@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", serif;
}
#page1,
#page2 {
  width: 100%;
}
#page1 img {
  width: 100%;
  opacity: 0.9;
  filter: brightness(50%);
}
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 24vh;
  box-shadow: 0px 0px 10px black;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45%;
  background: rgb(255, 190, 24);
  background: linear-gradient(
    90deg,
    rgba(255, 190, 24, 1) 0%,
    rgba(255, 6, 237, 1) 100%
  );
}
.socialmedia-links {
  height: 100%;
  display: flex;
  align-items: center;
}
.socialmedia-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: white;
  padding: 0px 20px;
  font-size: 1.1rem;
  border-left: 2px solid white;
}
.socialmedia-links a:nth-child(6) {
  border-right: 2px solid white;
}
.contact-info {
  display: flex;
  gap: 20px;
}
.contact-info p {
  font-size: 1rem;
  color: white;
}
.contact-info p i {
  padding: 5px;
}
nav button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}
/* ..................................middle-nav work.......................... */

.middle-nav {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.middle-nav h1 {
  text-transform: uppercase;
  font-weight: 800;
}
.middle-nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.middle-nav-links a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2.5px;
}
.middle-nav-links button,
.middle-nav button {
  padding: 39px 10px;
}
.middle-nav-links button {
  color: black;
  background-color: rgb(255, 115, 0);
  border: none;
  outline: none;
}
.middle-nav > button {
  color: white;
  border: none;
  outline: none;
  background-color: black;
}
.middle-content{
  width: 60%;
  position: absolute;
  left: 20%;
  top: 50%;
  z-index: 1;
  display: flex;
  height: 300px;
}
.vertical-line{
  height: 100%;
  width: 6px;
  background: rgb(255,190,24);
background: linear-gradient(180deg, rgba(255,190,24,1) 0%, rgba(255,6,237,1) 100%);
margin: 0px 20px;
}
.middle-text-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-text-content h3{
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.middle-text-content h1{
  color: white;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.middle-text-content p{
  padding: 15px 0px;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
}
.middle-text-content .btn-con button{
  padding: 10px 20px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}
.middle-text-content .btn-con button:nth-child(1){
  background: rgb(255,190,24);
  background: linear-gradient(90deg, rgba(255,190,24,1) 0%, rgba(255,6,237,1) 100%);
  margin: 0px 20px;
  border: none;
}
.btn-con{
  
}


/* ..............................page1 footer............................ */






.page1-footer{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(255, 190, 24);
    background: linear-gradient(
      90deg,
      rgba(255, 190, 24, 1) 0%,
      rgba(255, 6, 237, 1) 100%
    );
}
.page1-footer .items{
    padding: 20px 0px;
    margin: 20px;
    width:25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.items .top{
    display: flex;
    width: 100%;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}
.items .top h2{
    color: white;
    padding-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.items .bottom p{
    font-size: 0.8rem;
    color: white;
    padding-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.items .top i{
    color: white;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
}


/* ........................................page 2 work................................. */

#page2{
  display: flex;
  justify-content: center;
  position: relative;
    width: 100%;
    height: 80vh;
}
#page2 > img{
    width: 100%;
    opacity: 0.4;
}
.line{
  width: 50px;
  height: 2px;
  border: none;
  background: rgb(255, 190, 24);
  background: linear-gradient(
    90deg,
    rgba(255, 190, 24, 1) 0%,
    rgba(255, 6, 237, 1) 100%
  );
}
.aboutus{
  padding-top: 30px;
  height: 70%;
  width: 70%;
  top: 0;
  position: absolute;
  z-index: 2;
  display: flex;
}
.left-aboutus{
  width: 60%;
}
.left-aboutus h2{
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0px;
}
.left-aboutus h3{
  padding: 10px 0px;
  letter-spacing: 1px;
}
.left-aboutus p{
  letter-spacing: 1px;
}
.left-aboutus button{
  padding: 10px 20px;
  background: rgb(255, 190, 24);
  background: linear-gradient(
    90deg,
    rgba(255, 190, 24, 1) 0%,
    rgba(255, 6, 237, 1) 100%
  );
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  margin: 20px 0px;
  border: none;
  outline: none;
  letter-spacing: 1px;
}
.right-aboutus{
  width: 35%;
}
.right-aboutus img{
  width: 100%;
}



/* ............................................page3 work.......................................... */


#page3{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}
#page3 img{
width: 100%;  
}
.services{
  position: absolute;
  width: 70%;
}
.services > .line {
  height: 3px;
  margin: 10px 0px;
}
.services h2{
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0px;
}
.services-items{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.services-items .items{
  position: relative;
width: 30%;
}
.items img{
  box-shadow: 0px 10px 20px black;
  width: 100%;
}
.items .button-con{
  display: flex;
  align-items: center;
  border-top-left-radius: 50px ;
  border-bottom-left-radius: 50px ;
  box-shadow: 0px 10px 20px black;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: white;
}
.items .button-con i {
  padding: 10px;
  color: white;
  font-size: 1.6rem;
  border: none;
  border-radius: 50%;
  background: rgb(255, 190, 24);
  background: linear-gradient(
    90deg,
    rgba(255, 190, 24, 1) 0%,
    rgba(255, 6, 237, 1) 100%
  );
}
.items .button-con h3{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 10px;
}
